.btn {
  @include responsive-font-size(1.125rem, 1.25);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6875rem 0.9375rem;
  font-family: $ff-alt;
  line-height: 1.5;
  border: 1px solid transparent;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: $transition;
  transition-property: color, border-color, background-color, opacity;
  appearance: none;
  -webkit-tap-highlight-color: transparent;

  &:not(:disabled):active {
    color: var(--secondary);
  }

  &:not(:disabled):focus {
    color: var(--secondary);
  }

  &:not(:disabled):hover {
    color: var(--primary);
  }

  &:disabled {
    opacity: 0.15;
    cursor: default;
  }

  &.btn-primary {
    color: var(--on-primary);
    border-color: var(--primary);
    background-color: var(--primary);

    &:not(:disabled):active {
      color: var(--on-tertiary);
      border-color: var(--tertiary);
      background-color: var(--tertiary);
    }

    &:not(:disabled):focus {
      color: var(--on-tertiary);
      border-color: var(--tertiary);
      background-color: var(--tertiary);
    }

    &:not(:disabled):hover {
      color: var(--on-secondary);
      border-color: var(--secondary);
      background-color: var(--secondary);
    }
  }
}
