.collapse {
  position: relative;
  overflow: hidden;
  transition: $transition;
  transition-property: height;

  &::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(var(--collapse-max-height) * 0.25);
    background-image: linear-gradient(
      to top,
      var(--collapse-fade-color),
      transparent
    );
    opacity: 1;
    pointer-events: none;
    transform: translateY(0);
    transition: $transition;
    transition-property: transform, opacity;
  }

  &.expanded {
    &::after {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}

.collapse-toggle {
  width: 100%;
  padding: 0.875rem 2rem;

  &::after {
    display: block;
    content: '';
    width: 12px;
    height: 10px;
    margin-left: 1rem;
    background-color: currentColor;
    clip-path: path('m6 9-6-8 12 9e-7z');
    transition: $transition;
  }

  &.expanded {
    &::after {
      transform: rotate(-180deg);
    }
  }
}

@include media-min-width('sm') {
  .collapse-toggle {
    width: auto;
  }
}
