$ff-base: Roboto, sans-serif;
$ff-alt: Poppins, sans-serif;

$grid-gap: 1.5rem;
$transition: all 0.2s ease-in-out;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-widths: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$spacers: (
  0: 0,
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  24: 1.5rem,
  32: 2rem,
  48: 3rem,
  64: 4rem,
  auto: auto,
);
